@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-black bg-white dark:text-gray-300 text-black;
  }

  abbr {
    @apply no-underline pb-1 border-b-2 border-dotted border-current;
  }
}

@layer components {
  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#EE028B] to-[#AE29FF];
  }

  .cta {
    @apply px-4 py-[0.75rem] leading-5 m-0 inline-block rounded border border-gray-500 bg-white text-black dark:bg-black dark:text-white;
  }

  .code {
    @apply font-mono;
  }

  .button {
    @apply font-semibold rounded dark:text-black dark:bg-white border dark:border-white text-white bg-black border-black;
    /* @apply dark:bg-green-300 dark:text-black dark:border-green-600 font-semibold; */
  }

  .button span {
    @apply inline-block px-4 py-[0.75rem] rounded;
  }

  .button--secondary {
    @apply bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 text-black dark:text-white border-0 p-px;
  }

  .button--secondary span {
    @apply dark:bg-black bg-white;
  }

  .glass {
    background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.04),
      rgba(0, 0, 0, 0.14)
    );
  }

  .glass-round {
    border-radius: 16px;
  }

  .glass-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .glass-dark.glass-border {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .glass-blur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .glass-shadow {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  .glass-dark {
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.04),
      rgba(255, 255, 255, 0.14)
    );
  }

  .gradient {
    background-attachment: scroll, scroll, scroll, scroll, scroll, scroll,
      scroll, scroll, scroll, scroll;
    background-clip: border-box, border-box, border-box, border-box, border-box,
      border-box, border-box, border-box, border-box, border-box;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(
        rgb(255, 255, 255) 0%,
        rgba(255, 255, 255, 0) 22.44%
      ),
      linear-gradient(
        0deg,
        rgb(255, 255, 255) 0%,
        rgba(255, 255, 255, 0) 24.55%
      ),
      radial-gradient(
        calc(37.4775%) calc(83.4559%) at calc(51.3975%) calc(62.4759%),
        rgb(255, 255, 255) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        calc(109.448%) calc(63.2859%) at calc(52.3375%) calc(20.9959%),
        rgb(255, 255, 255) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        calc(54.4875%) calc(108.434%) at calc(-7.56248%) calc(71.7259%),
        rgba(230, 26, 50, 0.4) 0%,
        rgba(82, 0, 255, 0) 100%
      ),
      radial-gradient(
        calc(47.8475%) calc(88.7059%) at calc(30.2675%) calc(76.7059%),
        rgba(203, 55, 255, 0.4) 0%,
        rgba(82, 0, 255, 0) 100%
      ),
      radial-gradient(
        calc(44.1675%) calc(55.6041%) at calc(82.5625%) calc(65.4559%),
        rgba(1, 118, 58, 0.4) 0%,
        rgba(3, 94, 61, 0) 100%
      ),
      radial-gradient(
        calc(56.4675%) 123.66% at calc(98.6025%) calc(78.1975%),
        rgba(56, 237, 172, 0.4) 0%,
        rgba(66, 148, 203, 0.4) 37.65%,
        rgba(82, 0, 255, 0) 100%
      ),
      radial-gradient(
        39.06% 39.06% at 66.15% 10.94%,
        rgba(82, 0, 255, 0.4) 0%,
        rgba(82, 0, 255, 0) 100%
      ),
      none;
    background-origin: padding-box, padding-box, padding-box, padding-box,
      padding-box, padding-box, padding-box, padding-box, padding-box,
      padding-box;
    background-position-x: 0%, 0%, 0%, 0%, 0%, 0%, 0%, 0%, 0%, 0%;
    background-position-y: -50%, -50%, -50%, -50%, -50%, -50%, -50%, -50%, -50%,
      -50%;
  }

  .gradient-dark {
    background-attachment: scroll, scroll, scroll, scroll, scroll, scroll,
      scroll, scroll, scroll, scroll;
    background-clip: border-box, border-box, border-box, border-box, border-box,
      border-box, border-box, border-box, border-box, border-box;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 22.44%),
      linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 24.55%),
      radial-gradient(
        calc(37.4775%) calc(83.4559%) at calc(51.3975%) calc(62.4759%),
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      radial-gradient(
        calc(109.448%) calc(63.2859%) at calc(52.3375%) calc(20.9959%),
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      radial-gradient(
        calc(54.4875%) calc(108.434%) at calc(-7.56248%) calc(71.7259%),
        rgba(230, 26, 50, 0.8) 0%,
        rgba(82, 0, 255, 0) 100%
      ),
      radial-gradient(
        calc(47.8475%) calc(88.7059%) at calc(30.8675%) calc(76.7059%),
        rgba(203, 55, 255, 0.8) 0%,
        rgba(82, 0, 255, 0) 100%
      ),
      radial-gradient(
        calc(44.1675%) calc(55.6041%) at calc(82.5625%) calc(65.4559%),
        rgba(1, 118, 58, 0.8) 0%,
        rgba(3, 94, 61, 0) 100%
      ),
      radial-gradient(
        calc(56.4675%) 123.66% at calc(98.6025%) calc(78.1975%),
        rgba(56, 237, 172, 0.8) 0%,
        rgba(66, 148, 203, 0.8) 37.65%,
        rgba(82, 0, 255, 0) 100%
      ),
      radial-gradient(
        39.06% 39.06% at 66.15% 10.94%,
        rgba(82, 0, 255, 0.8) 0%,
        rgba(82, 0, 255, 0) 100%
      ),
      none;
    background-origin: padding-box, padding-box, padding-box, padding-box,
      padding-box, padding-box, padding-box, padding-box, padding-box,
      padding-box;
    background-position-x: 0%, 0%, 0%, 0%, 0%, 0%, 0%, 0%, 0%, 0%;
    background-position-y: 0%, 0%, 0%, 0%, 0%, 0%, 0%, 0%, 0%, 0%;
  }
}
